.container{
    color: black;
}


.home{
    .content{
        padding: 15px;
        .image{
            display: flex;
            gap: 2rem;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            img{
                
            }
     
        }
    }
}

.btn{
    cursor: pointer;
    border: none;
}